* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

html,body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

.section {
    padding: 70px 0;
}

.heading {
    text-align: center;
    margin-bottom: 5em;
}

.heading h1 {
    text-shadow: 0 1px 2px rgb(0 0 0 / 37%);
}

.heading p {
    margin: 20px 0;
}

.bord {
    width: 60%;
    height: 1px;
    margin: 0 auto 50px;
    background-color: #e8e8e8;

}

/* HEADER */
.header__top {
    background-color: #363d41;
    padding: 15px 0;
    color: white;
}

.header__social a {
    color: white;
    margin-right: 1.7rem;
    transition: all .5s;
}

.header__social a:hover {
    color: #527dbd;
}

header .navbar-light .navbar-brand {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #868c94;
}

header .navbar-brand span {
    color: #7f67f8;
    font-size: 40px;
}

header .navbar-light .navbar-brand {
    color: #868c94;
}

header .navbar-light .navbar-brand:focus, header .navbar-light .navbar-brand:hover {
    color: #868c94;
}

#headerNav .nav-item > a {
    color: #363d41;
    font-weight: bold;
    font-size: 14px;
    padding: 0 15px;
}

#headerNav .dropdown-item {
    transition: all .5s;
    padding: ;
}

#headerNav .nav-item.active a {
    color: #7f67f8;
}

/* CAROUSEL */
.carousel {
    min-height: 700px;
    background-image: 
    linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
    url(../img/b1.jpg);
    background-size: cover;
    position: relative;
}

.carousel .owl-carousel {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

.owl-carousel .item {
    padding-bottom: 70px;
}

.owl-carousel .item h1 {
    font-size: 2.8rem;
    letter-spacing: .2em;
}

.owl-carousel .item p {
    width: 80%;
    margin: 20px auto 40px;
    line-height: 28px;
}

.owl-carousel .item a {
    color: white;
    padding: 8px 30px;
    border: 2px solid white;
    display: inline-block;
    text-decoration: none;
    transition: all .5s;
}

.owl-carousel .item a:hover {
    background-color: #7f67f8;
    border: 2px solid #7f67f8;
}

.owl-carousel .item a:last-child {
    background-color: #7f67f8;
    border: 2px solid #7f67f8;
}

.owl-carousel .item a:last-child:hover {
    background-color: transparent;
    border: 2px solid white;
}

.carousel .owl-theme .owl-dots .owl-dot span {
    background-color: #7f67f8;
    outline: none;
    width: 14px;
    height: 14px;
}

.carousel .owl-theme .owl-dots .owl-dot.active span, .carousel .owl-theme .owl-dots .owl-dot:hover span {
    background-color: white;
}

/* BENEFITS */
.benefits {
    text-align: center;
}

.benefits .row i {
    font-size: 40px;
    color: #f97c69;
}

.benefits .row h2 {
    font-size: 22px;
    font-weight: bold;
    margin: 20px;
}

.benefits .row p {
    color: #777;
    font-size: 15px;
    line-height: 1.8em;
}

.benefits .row .col-4:nth-child(2) {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
}

/* SLOGAN */
.slogan {
    background-image: url(../img/3.jpg);
    background-size: cover;
    color: white;
    padding: 90px 0;
}

.slogan a {
    color: white;
    text-decoration: none;
    padding: 0.7em 2em;
    background-color: #7f67f8;
    transition: all .5s;
}

.slogan a:hover {
    background-color: #f97c69;
}

